<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="monsterhealthbar"></div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>Your Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="playerhealthbar"></div>
      </div>
    </section>
    <section class="container" v-if="winner">
      <h2>Game Over!</h2>
      <h3 v-if="winner === 'monster'">You lost!</h3>
      <h3 v-else-if="winner === 'player'">You Won! <br>visit all my projects on <a href="https://andre26z.github.io/landingpage/"> my portfolio.</a> </h3>
      <h3 v-else>Draw!</h3>
      <button @click="startgame">Start New Game</button>

    </section>
    <section id="controls" v-else>
      <button @click="playeratack">ATTACK</button>
      <button :disabled="enableespecial" @click="especial">SPECIAL ATTACK</button>
      <button @click="heal">HEAL</button>
      <button @click="surrender">SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="logmessage in logmessages">
          <span :class="{'log--player': logmessage.actionby === 'player', 'log--monster': logmessage.actionby === 'monster'}"> {{logmessage.actionby === 'player' ? 'Player' : 'Monster'}}</span>
          <span v-if="logmessage.actiontype === 'heal'">
            heal himself for <span class="log--heal"> {{logmessage.actionvalue}} </span> points of healing
          </span>
          <span v-if="logmessage.actiontype === 'atack'"> atacked for <span class="log--damage">{{logmessage.actionvalue}}</span> points of damage </span>

        </li>

        <!-- <li v-for="logmessage in logmessages">
        The {{logmessage.actionby}}  {{logmessage.actiontype}} for {{logmessage.actionvalue}} points </li> jeito mais fácil-->
      </ul>
    </section>
  </div>
</body>

</html>